## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## .NET
*.dll
*.exe
*.pdb
*.cache

## Rider
.idea/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
